@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@300&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --falily-primary:'Roboto', sans-serif;
  --color-primary: #edf2f4;
  --color-secundary: #2B2D42;
  --color-red: #D90429;

  --bg-color-prmary: linear-gradient(to top, #8d99ae, #a1afbf, #b8c6d0, #d2dce2, #edf2f4);
  --bg-color-secundary: #2B2D42;
  --bg-color-gray: #8D99AE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--falily-primary);
}

.App{
  /* background-image: var(--bg-color-prmary); */
  height: 100vh;
  width: 100%;
}
